
/* estilizando o corpo com html(inserindo cores, centralizando os elementos... */
body {
    font-family: 'Poppins', sans-serif;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #b0c4ff, #d6d6d6);
    background-size: 400% 400%;
}

/* estilizando o conteudo onde contém a imagem e o formulário */
.conteudo{
    display: flex; 
    flex-direction: row;
    align-items: stretch; 
    justify-content: center; 
    border: 1px solid #ccc;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    max-width: 1000px;
    background-color: white;
    
}

/* estilizando o formulário(deixando os inputs e o botão centralizados...) */
.formulario {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid; 
    border-radius: 30px; */
    gap: 15px;
    width: 375px;
    height: auto;
    
}

.titulo {
    
    font-size: 28px;
   
}


/* estilizando o input: deixando ele com uma decoração mais simples */
input{
    margin: 10px;
    width: 300px;
    height: 45px;
    border: 1px solid #ccc;
    border-radius: 8px;
    transition: border-color 0.3s ease;
    
}

input:hover {
    border-color: #4f46e5;
    outline: none;
}

/* deixando os inputs e o botão centralizados */
.dados-requeridos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: center;
}

/* estilizando o botão; inserindo cores em gradient, adicionando um hover para quando o usuário colocar o ouse em cima do botão a cor ter uma váriação */
button {
    width: 70%;
    margin: 7px;
    height: 30px;
    border-radius: 30px;
    border: none;
    background: linear-gradient(45deg, #5a86ff, #3d6fe3);
    color: white;
}

button:hover{
    background: linear-gradient(45deg, #3d6fe3, #2f5bd7);
    color: white;
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.imagem {
    width: 500px;
    height: 600px;
    border-radius: 10px;
}

/* inserindo a responsividade */
/* deixando o formulário veticalmente enquanto estiver com 768px ou menos */
@media screen and (max-width: 768px) {
    .conteudo {
      flex-direction: column;
      width: 90%;
      margin: auto;
      align-items: center;
    }
  
    .imagem {
      width: 100%;
      height: 250px; 
      object-fit: cover;
     
    }
  
    .formulario {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     width: 100%;
     gap: 15px;
     padding: 20px;
    }

    .titulo{
        font-size: 32px;
    }
  
    input {
      width: 100%;
      height: 50px;
      font-size: 18px;
     
    }
  
    button {
      width: 100%;
      height: 45px;
      font-size: 16px;
    }
  }
  

